<div class="container">
  <div class="title-bar" id="title-bar">
    <div id="title" class="title" (dblclick)="maxWindow()">{{ title }}</div>
    <div style="float: left;">
      <button (click)="previous()">◀</button>
      <button (click)="next()">▶</button>
    </div>
    <div class="oper-button">
      <!-- <label id="zoom-per">100%</label> -->
      <!-- <button (click)="realSize()">↗</button>
      <button (click)="zoomIn()">+</button>
      <button (click)="zoomOut()">-</button> -->
      <span *ngIf="scale" class="scale">{{ scale | percent }}</span>
      <button (click)="changeMode()" id="btn-mode">{{ comicMode }}</button>
    </div>
  </div>
  <div class="main" id="div" (mousewheel)="doSomething()">
    <ng-container *ngIf="comicMode === '单开页'">
      <img class="img" #img [src]="imgSrc" (dblclick)="resetSize()" (load)="resize()" />
    </ng-container>
    <ng-container *ngIf="comicMode === '竖版'">
      <div class="imgContainer">
        <ng-template ngFor let-imgSrc [ngForOf]="imgSrcs" let-i="index">
          <ng-container *ngIf="i === 0; else other">
            <img #firstImg class="vImg" [src]="imgSrc" (dblclick)="resetSize()" (load)="onImageLoad()" />
          </ng-container>
          <ng-template #other><img class="vImg" [src]="imgSrc" (dblclick)="resetSize()"/></ng-template>
        </ng-template>
      </div>
    </ng-container>
  </div>
  <div class="open-file" id="open-file" [hidden]="!showOpenFileBtn">
    <h2>Comic Viewer</h2>
    <button (click)="openImage()" id="btn-open-file">打开图片</button>
  </div>
  <div style="right: 0;" class="btn-to" (click)="next()" id="btn-to-r">
    <div class="btn-txt">→</div>
  </div>
  <div style="left: 0;" class="btn-to" (click)="previous()" id="btn-to-l">
    <div class="btn-txt">←</div>
  </div>
</div>
