@import '../../style/light.scss';

$foot-bar-height: 22px;
$foot-bar-padding: 3px;

a {
  text-decoration: none;
  color: white;
}

.title-bar {
  position: sticky;
  top: 0;
  text-align: center;
  background-color: $title-bg-color;
  height: $title-bar-height;
  -webkit-app-region: drag;
  overflow-x: hidden;
  border-bottom: $title-border;
  padding: $tool-padding 10px 0;
  user-select: none;
}

.scale {
  font-size: 12px;
  margin: 0 12px;
}

button {
  height: $title-bar-height - $tool-padding;
  line-height: $title-bar-height - $tool-padding * 2;
  padding: 0 8px;
  margin: 0;
  border-radius: 5px;
  background: $btn-bg;
  color: $btn-color;
  outline: none;
  border: $btn-border;
}

button:hover {
  background: $btn-bg-hover;
}

button:active {
  background: $btn-bg-active;
}

button:disabled {
  background: $btn-bg-disabled;
  color: $btn-color-disabled;
}

.title {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  height: $title-bar-height + $tool-padding;
  line-height: $title-bar-height + $tool-padding;
  user-select: none;
  font-size: $title-font-size;
  overflow-x: hidden;
  color: $title-color;
  display: inline-block;
}

.oper-button {
  display: block;
  float: right;
}

.main {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container {
  height: 100%;
}

.img {
  width: auto;
  height: auto;
  margin: 0 auto;
  user-select: none;
}

.vImg {
  max-width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.btn-to {
  cursor: pointer;
  position: fixed;
  top: $title-bar-height;
  height: calc(100% - #{$title-bar-height});
  color: $btn-to-color;
  padding: 0 30px;
  background: $btn-to-bg;
  opacity: 0;
  user-select: none;
}

.btn-to:hover {
  opacity: 1;
}

.btn-txt {
  user-select: none;
  position: relative;
  top: calc(50% - #{$tool-padding / 2});
}

.open-file {
  position: fixed;
  top: calc(50% - 50px);
  width: 100%;
  text-align: center;
  user-select: none;
}

.open-file h2 {
  color: $open-h2-color;
  user-select: none;
}

.foot-bar {
  position: fixed;
  bottom: 10px;
  width: 100%;
  text-align: center;
  height: $foot-bar-height;
  padding-bottom: $foot-bar-padding;
}

.foot-bar label {
  padding: 5px;
  border-radius: 5px;
  margin: 0px;
  font-size: $title-font-size;
  color: $btn-to-color;
  background: $btn-to-bg;
}
