$title-bar-height: 32px;
$title-height: 22px;
$title-bg-color: #e6e6e6;
$title-bg-img: linear-gradient(#e6e6e6, #e6e6e6);
$title-color: #333;
$title-border: 1px solid #c7c7c7;
$title-font-size: 13px;
$bg-color: #eee;
$btn-to-bg: rgba(225, 225, 225, 0.5);
$btn-to-color: #444;
$btn-bg: #fdfdfd;
$btn-img: linear-gradient(#fdfdfd, #fdfdfd);
$btn-bg-hover: #f1f1f1;
$btn-img-hover: linear-gradient(#f1f1f1, #f1f1f1);
$btn-bg-active: #ddd;
$btn-img-disabled: linear-gradient(rgb(240, 62, 62), rgb(197, 54, 54));
$btn-bg-disabled: rgb(240, 62, 62);
$btn-color-disabled: #fff;
$btn-color: #000;
$btn-border: 1px solid #dadada;
$tool-padding: 6px;
$open-h2-color: #2d75cb;